<div class="container">
  <div>
    <div class="pull-left">
      <a href="/"><h1><img height="50px" src="/img/science-book.png" alt="Science Book"> LabBase 3000</h1></a>
    </div>
    <div class="pull-right">
      <h2><img height="40px" src="/img/bond.png" alt="Bond"> {{name}}</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete {{name}}</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
            <strong>Warning:</strong> Deleting this lab will also delete all employees and equipment associated with it. Are you sure you want to proceed?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="delete-lab-button" data-lab-id="{{lab_id}}" type="button" class="btn btn-danger">DELETE LAB</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Employee Modal -->
  <div class="modal fade" id="empModal" tabindex="-1" role="dialog" aria-labelledby="empModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="empModalLabel">Add new employee</h4>
        </div>
        <div class="modal-body">
          <form data-type="employee" data-lab-id="{{lab_id}}">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="ext">Extension #</label>
              <input type="text" class="form-control" name="ext" placeholder="Extension #">
            </div>
            <div class="form-group">
              <label for="manager">Manager Name (Optional)</label>
              <input type="text" autocomplete="off" class="form-control typeahead" name="manager" placeholder="Manager Name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary add-button">Add Employee</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Equipment Modal -->
  <div class="modal fade" id="eqModal" tabindex="-1" role="dialog" aria-labelledby="labModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="labModalLabel">Add Equipment</h4>
        </div>
        <div class="modal-body">
          <form data-lab-id="{{lab_id}}" data-type="equipment">
            <div class="form-group">
              <label for="equipment_type">Equipment Type</label>
              <input type="text" autocomplete="off" class="form-control typeahead" name="equipment_type" placeholder="Enter Type">
            </div>
            <div class="form-group">
              <label for="maintainer">Maintainer</label>
              <input type="text" autocomplete="off" class="form-control typeahead" name="maintainer" placeholder="Employee Name">
            </div>
            <div class="form-group">
              <label for="purchase_date">Purchase Date</label>
              <input type="date" class="form-control" name="pdate-field">
            </div>
            <div class="form-group">
              <label for="calibration_date">Calibration Date</label>
              <input type="date" class="form-control" name="cdate-field">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary add-button">Add Equipment</button>
        </div>
      </div>
    </div>
  </div>

  <div id="employee">
    <div>
      <div class="pull-left">
        <h3><img height="32px" src="/img/employee.png" alt="Employee"> Employees at {{name}}: </h3>
      </div>
      <div class="pull-right">
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#empModal">
          + Add Employee
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
    {{#if employees.length}}
      <table class="table table-bordered table-condensed table-striped table-responsive">
        <tr><th class="text-center">First Name</th><th class="text-center">Last Name</th><th class="text-center">Extension</th><th class="text-center">Projects</th><th class="text-center">Equipment</th><th class="text-center">Manager ID</th><th class="buttons"></th></tr>
        {{#each employees}}
            <tr class="reg-row" data-type="employee">
              <input type="hidden" name="id" value={{this.id}}>
              <td>
                <p class="text-center">{{this.first_name}}</p>
              </td>
              <td>
                <p class="text-center">{{this.last_name}}</p>
              </td>
              <td>
                <p class="text-center">{{this.ext}}</p>
              </td>
              <td>
                <a href="#"><p class="text-center">See Projects</p></a>
              </td>
              <td>
                <a href="#"><p class="text-center">See Equipment</p></a>
              </td>
              <td>
                {{#if this.manager_id}}
                <a href="#"><p class="text-center">ID# {{this.manager_id}}</p></a>
                {{/if}}
              </td>
              <td class="buttons">
                  <input class="btn btn-danger" type="button" value="Remove">
              </td>
            </tr>
        {{/each}}
      </table>
    {{else}}
      <h3 class="text-center">This lab has no employees</h3>
    {{/if}}

  </div>
  <hr>

  <div id="equipment">
    <div>
      <div class="pull-left">
        <h3><img height="32px" src="/img/equipment.png" alt="Equipment"> Equipment at {{name}}:</h3>
      </div>
      <div class="pull-right">
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#eqModal">
          + Add Equipment
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
    {{#if equipment.length}}
      <table class="table table-bordered table-condensed table-striped table-responsive">
        <tr><th class="text-center">Type</th><th class="text-center">Calibration Date</th><th class="text-center">Purchase Date</th><th class="text-center">Maintainer</th><th class="buttons"></th></tr>
        {{#each projects}}
            <tr class="reg-row" data-type="equipment">
              <input type="hidden" name="id" value={{this.id}}>
              <td>
                <p class="text-center">{{this.type}}</p>
              </td>
              <td>
                <p class="text-center">{{this.calibration_date}}</p>
              </td>
              <td>
                <p class="text-center">{{this.purchase_date}}</p>
              </td>
              <td>
                <p class="text-center table-link">{{this.maintainer}}</p>
              </td>
              <td class="buttons">
                  <input class="btn btn-danger" type="button" value="Remove">
              </td>
            </tr>
        {{/each}}
      </table>
    {{else}}
      <h3 class="text-center">There is no equipment in this lab</h3>
    {{/if}}

  </div>
  <hr>
  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-lg btn-block btn-danger" data-toggle="modal" data-target="#deleteModal">
      Delete This Lab
    </button>
  </div>
  <hr>
</div>
