<div class="container">
  <div>
    <div class="pull-left">
      <a href="/"><h1><img height="50px" src="/img/science-book.png" alt="Science Book"> LabBase 3000</h1></a>
    </div>
    <div class="pull-right">
      <h2><img height="40px" src="/img/bond.png" alt="Bond"> {{name}}</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr>
  <!-- New Employee Modal -->
  <div class="modal fade" id="empModal" tabindex="-1" role="dialog" aria-labelledby="empModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="empModalLabel">Add new employee</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="name-field">First Name</label>
              <input type="text" class="form-control" name="empFName" placeholder="First Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="name-field">Last Name</label>
              <input type="text" class="form-control" name="empLName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="ext-field">Extension #</label>
              <input type="text" class="form-control" name="empExt" placeholder="Extension #">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="createLab" type="submit" class="btn btn-primary">Add Employee</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Project Modal -->
  <div class="modal fade" id="projModal" tabindex="-1" role="dialog" aria-labelledby="projModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="projModalLabel">Create a new project</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="sr-only" for="name-field">Project Name</label>
              <input type="text" class="form-control" name="projName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="ext-field">Start Date</label>
              <input type="date" class="form-control" name="projStartDate" placeholder="Start Date">
            </div>
            <div class="form-group">
              <label for="ext-field">Due Date</label>
              <input type="date" class="form-control" name="projDueDate" placeholder="Due Date">
            </div>
            <div class="form-group">
              <label class="sr-only" for="ext-field">Objective</label>
              <textarea class="form-control" name="projObjective" rows="2" placeholder="Project Objective"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="createLab" type="submit" class="btn btn-primary">Create Lab</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Equipment Modal -->
  <div class="modal fade" id="eqModal" tabindex="-1" role="dialog" aria-labelledby="labModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="labModalLabel">Add equipment</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="type-field">Equipment Type</label>
              <input type="text" data-provide="typeahead" autocomplete="off" class="form-control eqtype" name="type-field" placeholder="Enter Type">
            </div>
            <div class="form-group">
              <label class="sr-only" for="maintainer-field">Maintainer</label>
              <input type="text" data-provide="typeahead" autocomplete="off" class="form-control maintainer" name="maintainer-field" placeholder="Employee Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="pdate-field">Purchase Date</label>
              <input type="date" class="form-control" name="pdate-field">
            </div>
            <div class="form-group">
              <label class="sr-only" for="cdate-field">Calibration Date</label>
              <input type="date" class="form-control" name="cdate-field">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="createLab" type="submit" class="btn btn-primary">Add Equipment</button>
        </div>
      </div>
    </div>
  </div>

  <div id="employees">
    <div>
      <div class="pull-left">
        <h3><img height="32px" src="/img/employee.png" alt="Employee"> Employees at {{name}}: </h3>
      </div>
      <div class="pull-right">
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#empModal">
          + Add Employee
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
    {{#if employees.length}}
      <table class="table table-bordered table-condensed table-striped table-responsive">
        <tr><th class="text-center">First Name</th><th class="text-center">Last Name</th><th class="text-center">Extension</th><th class="text-center">Projects</th><th class="text-center">Equipment</th><th class="buttons"></th></tr>
        {{#each employees}}
            <tr class="reg-row" data-type="employees">
              <input type="hidden" name="id" value={{this.id}}>
              <td>
                <p class="text-center">{{this.fname}}</p>
              </td>
              <td>
                <p class="text-center">{{this.lname}}</p>
              </td>
              <td>
                <p class="text-center">{{this.ext}}</p>
              </td>
              <td>
                <p class="text-center table-link">See Projects</p>
              </td>
              <td>
                <p class="text-center table-link">See Equipment</p>
              </td>
              <td class="buttons">
                  <input class="btn btn-default" type="button" value="Update">
                  <input class="btn btn-danger" type="button" value="Remove">
              </td>
            </tr>
        {{/each}}
      </table>
    {{else}}
      <h3 class="text-center">This lab has no employees</h3>
    {{/if}}

  </div>
  <hr>

  <div id="projects">
    <div>
      <div class="pull-left">
        <h3><img height="32px" src="/img/project.png" alt="Project"> Projects at {{name}}:</h3>
      </div>
      <div class="pull-right">
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#projModal">
          + Add Project
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
    {{#if projects.length}}
      <table class="table table-bordered table-condensed table-striped table-responsive">
        <tr><th class="text-center">Name</th><th class="text-center">Request Date</th><th class="text-center">Due Date</th><th class="text-center">Objective</th><th class="text-center">Employees</th><th class="text-center">Equipment</th><th class="buttons"></th></tr>
        {{#each projects}}
            <tr class="reg-row" data-type="employees">
              <input type="hidden" name="id" value={{this.id}}>
              <td>
                <p class="text-center">{{this.name}}</p>
              </td>
              <td>
                <p class="text-center">{{this.reqdate}}</p>
              </td>
              <td>
                <p class="text-center">{{this.duedate}}</p>
              </td>
              <td>
                <p class="text-center table-link">See Objective</p>
              </td>
              <td>
                <p class="text-center table-link">See Employees</p>
              </td>
              <td>
                <p class="text-center table-link">See Equipment</p>
              </td>
              <td class="buttons">
                  <input class="btn btn-default" type="button" value="Update">
                  <input class="btn btn-danger" type="button" value="Remove">
              </td>
            </tr>
        {{/each}}
      </table>
    {{else}}
      <h3 class="text-center">There are no active projects in this lab</h3>
    {{/if}}

  </div>
  <hr>

  <div id="equipment">
    <div>
      <div class="pull-left">
        <h3><img height="32px" src="/img/equipment.png" alt="Equipment"> Equipment at {{name}}:</h3>
      </div>
      <div class="pull-right">
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#eqModal">
          + Add Equipment
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>
    {{#if equipment.length}}
      <table class="table table-bordered table-condensed table-striped table-responsive">
        <tr><th class="text-center">Type</th><th class="text-center">Calibration Date</th><th class="text-center">Purchase Date</th><th class="text-center">Maintainer</th><th class="text-center">Projects</th><th class="buttons"></th></tr>
        {{#each projects}}
            <tr class="reg-row" data-type="employees">
              <input type="hidden" name="id" value={{this.id}}>
              <td>
                <p class="text-center">{{this.type}}</p>
              </td>
              <td>
                <p class="text-center">{{this.cdate}}</p>
              </td>
              <td>
                <p class="text-center">{{this.pdate}}</p>
              </td>
              <td>
                <p class="text-center table-link">{{this.maintainer}}</p>
              </td>
              <td>
                <p class="text-center table-link">Used in...</p>
              </td>
              <td class="buttons">
                  <input class="btn btn-default" type="button" value="Update">
                  <input class="btn btn-danger" type="button" value="Remove">
              </td>
            </tr>
        {{/each}}
      </table>
    {{else}}
      <h3 class="text-center">There is no equipment in this lab</h3>
    {{/if}}

  </div>
  <hr>
</div>
